html {
  font-size: 62.5%; }

body {
  background: #f5fffa;
  line-height: 0; }

header {
  width: 100%;
  background: #1b9c72;
  border-bottom: solid 10px  black;
  position: fixed;
  z-index: 999; }
  header .container {
    max-width: 100%;
    width: 100%; }
    @media (max-width: 549px) {
      header .container {
        padding: 0; } }
  header .columns {
    margin-left: 0; }
  header .six.columns {
    width: 50%; }
  header .header_in {
    padding: 40px 0;
    display: -webkit-flex;
    display: flex; }
    @media (max-width: 549px) {
      header .header_in {
        padding: 20px 0; } }
    header .header_in .icon {
      padding-top: 8px;
      font-size: 20px;
      line-height: 0;
      display: block;
      width: 40px;
      height: 40px;
      text-align: center;
      margin-left: auto;
      margin-right: 20%;
      color: #1b9c72;
      background-color: white;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      @media (max-width: 549px) {
        header .header_in .icon {
          padding-top: 4px;
          font-size: 10px;
          width: 20px;
          height: 20px; } }
    header .header_in .logo {
      padding-left: 20%;
      height: 28px; }
      @media (max-width: 549px) {
        header .header_in .logo {
          height: 18px; } }

#dummy {
  background: #1b9c72;
  height: 130px; }
  @media (max-width: 549px) {
    #dummy {
      height: 70px; } }

.cover_area {
  text-align: left;
  border-bottom: solid 10px  black;
  position: relative; }
  .cover_area .container {
    max-width: 100%;
    width: 100%; }
    @media (max-width: 549px) {
      .cover_area .container {
        padding: 0; } }
  @media (min-width: 550px) {
    .cover_area p {
      color: white;
      position: absolute;
      top: 25%;
      left: 4%;
      z-index: 998;
      font-size: 36px;
      font-size: 3.6rem;
      line-height: 2.1; } }
  @media (max-width: 549px) {
    .cover_area p {
      color: white;
      position: absolute;
      top: 12.5%;
      left: 4%;
      z-index: 998;
      font-size: 18px;
      font-size: 1.8rem;
      line-height: 2; } }

.people img {
  display: block; }
  @media (max-width: 549px) {
    .people img {
      margin-left: auto;
      margin-right: auto; } }
.people .flex_box {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 50px; }
  @media (max-width: 549px) {
    .people .flex_box {
      -webkit-flex-direction: column;
      flex-direction: column; } }
@media (max-width: 549px) {
  .people .reverse {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse; } }
.people .sotowaku {
  background: white;
  border: solid thin #eeeeee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }
.people p {
  color: black;
  word-wrap: break-word;
  padding-left: 10%;
  padding-right: 7%; }
  @media (min-width: 550px) {
    .people p {
      font-size: 20px;
      font-size: 2rem;
      line-height: 44px; } }
  @media (max-width: 549px) {
    .people p {
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 36px; } }
@media (min-width: 550px) {
  .people .man_one {
    margin-left: auto; } }
@media (min-width: 550px) {
  .people .women {
    margin-left: 20px; } }
@media (min-width: 550px) {
  .people .man_two {
    margin-left: auto;
    margin-right: 20px; } }

.omakasekudasai .man_three {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px; }
.omakasekudasai .teian {
  text-align: center;
  font-size: 30px;
  font-size: 3rem;
  line-height: 50px; }
  @media (max-width: 549px) {
    .omakasekudasai .teian {
      text-align: left;
      font-size: 28px;
      font-size: 2.8rem;
      margin-left: auto;
      margin-right: auto; } }

.tokucyo p {
  text-align: center;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 44px; }
  @media (max-width: 549px) {
    .tokucyo p {
      text-align: left;
      font-size: 18px;
      font-size: 1.8rem;
      margin-left: auto;
      margin-right: auto; } }
.tokucyo .midashi {
  font-size: 40px;
  font-size: 4rem;
  padding-top: 50px;
  padding-bottom: 15px; }
  @media (max-width: 549px) {
    .tokucyo .midashi {
      text-align: left;
      font-size: 24px;
      font-size: 2.4rem;
      margin-left: auto;
      margin-right: auto; } }

.obi .container {
  max-width: 100%;
  width: 100%; }
  @media (max-width: 549px) {
    .obi .container {
      padding: 0; } }

.syurui {
  margin-top: 40px; }
  .syurui .columns {
    margin-left: 0; }
  .syurui .flex_box {
    display: -webkit-flex;
    display: flex; }
  @media (min-width: 870px) {
    .syurui .left_area {
      border-right: solid thin black;
      margin-left: auto;
      padding-right: 30px; } }
  @media (min-width: 870px) {
    .syurui .right_area {
      margin-right: auto;
      padding-left: 30px; } }
  .syurui img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px; }
  .syurui .html {
    padding-bottom: 50px;
    margin-right: 0; }
  .syurui .css {
    padding-top: 60px;
    margin-left: 0; }
  .syurui p {
    display: block;
    text-align: left;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 44px;
    padding-top: 20px;
    padding-bottom: 20px; }
    @media (max-width: 549px) {
      .syurui p {
        text-align: left;
        font-size: 18px;
        font-size: 1.8rem;
        margin-left: auto;
        margin-right: auto; } }
  .syurui .intro {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-size: 3rem;
    color: #1b9c72; }
  .syurui .top {
    border-top: solid thin black; }

.sample img {
  display: block;
  height: 270px;
  border: solid thin #eeeeee; }
  @media (max-width: 549px) {
    .sample img {
      margin-right: auto;
      margin-left: auto; } }
.sample img:hover {
  border: solid thin black; }
.sample p {
  text-align: left;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 28px;
  padding-top: 20px; }
  @media (max-width: 549px) {
    .sample p {
      text-align: left;
      font-size: 18px;
      font-size: 1.8rem;
      margin-left: auto;
      margin-right: auto; } }
.sample .sample_number {
  text-align: center;
  padding-top: 40px; }
  .sample .sample_number span {
    color: #1b9c72; }

#toiawase_two .address {
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 48px;
  font-size: 4.8rem;
  padding: 40px 0; }
  @media (max-width: 549px) {
    #toiawase_two .address {
      font-size: 26px;
      font-size: 2.6rem; } }
#toiawase_two .address:hover {
  color: #1EAEDB;
  text-decoration: underline; }
#toiawase_two p {
  text-align: center;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 44px; }
  @media (max-width: 549px) {
    #toiawase_two p {
      text-align: left;
      font-size: 18px;
      font-size: 1.8rem;
      margin-left: auto;
      margin-right: auto; } }

footer {
  background: #1b9c72;
  border-top: solid 10px black;
  margin-top: 40px;
  padding: 40px 0; }
  footer p {
    text-align: center;
    font-size: 18px;
    font-size: 1.8rem;
    color: white; }
    @media (max-width: 549px) {
      footer p {
        font-size: 12px;
        font-size: 1.2rem;
        margin-top: 0; } }

.danraku_one {
  height: 120px;
  background: #1b9c72;
  margin-top: 50px;
  border: solid thin black; }
  .danraku_one p {
    color: white;
    font-size: 48px;
    font-size: 4.8rem;
    text-align: center;
    padding-top: 60px;
    line-height: 0; }
    @media (max-width: 549px) {
      .danraku_one p {
        font-size: 26px;
        font-size: 2.6rem; } }

.danraku_two {
  height: 120px;
  background: white;
  margin-top: 50px;
  border: solid thin #1b9c72; }
  .danraku_two p {
    color: #1b9c72;
    font-size: 48px;
    font-size: 4.8rem;
    text-align: center;
    padding-top: 60px;
    line-height: 0; }
    @media (max-width: 549px) {
      .danraku_two p {
        font-size: 26px;
        font-size: 2.6rem; } }

h1 {
  margin: 0;
  padding: 0;
  line-height: 0; }

h2 {
  line-height: 0;
  margin-bottom: 0; }

h3 {
  line-height: 0;
  margin-bottom: 0;
  letter-spacing: 0; }

h4 {
  line-height: 0;
  margin-bottom: 0;
  letter-spacing: 0; }

h5 {
  line-height: 0;
  margin-bottom: 0;
  letter-spacing: 0; }

p {
  margin-bottom: 0; }

@media (max-width: 869px) {
  .br-pc {
    display: none; } }
@media (min-width: 870px) {
  .br-sp {
    display: none; } }

/*# sourceMappingURL=style.css.map */
