@import "compass";
@charset "utf-8";

html {
    font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10){
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

$ja_font : "ヒラギノ丸ゴ Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$blue1 : #42b9d0;
$blue2 : #339fd1;
$gray_blue : #eaf2f4;
$mint : #f5fffa;
$green : #1b9c72;
$gray : #eeeeee;

body {
  background: $mint;
  line-height: 0; //初期化
}

header {
  background: $green;
  
  .header_in{
    padding: 40px 0;

    @include display-flex;

    @media (max-width: 549px) {
      
      padding: 20px 0;
    }

    .pc_toiawase {
      display: block;
      margin-left: auto;
      padding-top: 5px;
      
      @media (max-width: 549px){
        display: none;
      }
      
    }
    
    .sp_toiawase {
      padding-top: 1%;
      font-size: 20px;
      line-height: 0;
      display: block;
      margin-left: auto;
      color: white;
      text-align: right;

      @media (min-width: 550px){
        display: none;
      }
    }
    
  }
}

.cover_area{
  
  text-align: left;
  border-top: solid 10px black;
  border-bottom: solid 10px  black;
  
  .container {
    max-width: 1200px;
    width: 100%;
    //skeletonのwidth960pxを初期化
  }

  //背景 retina_bg

    background-image: url("../images/cover.png");
    background-size: cover;

    @media screen and (-webkit-min-device-pixel-ratio:2),
                    (min-resolution: 2dppx){
    background-image: url("../images/cover@2x.png");
    }
  
  @media (min-width: 550px) {
    height: 500px;
    
    img{
      margin-top: 150px;
      margin-left: 4%;
    }
  }
  
  @media (max-width: 549px) {
    height: 250px;
    img{
      height: 90px;
      margin-top: calc((250px - 90px) / 2);
      margin-left: 4%;
    }
  }
}

.people {
  
  img {
    display: block;
  }
  
  .flex_box {
    @include display-flex;
  }
  
  .fukidashi {
    margin-top: 50px;
  }
  
  .fukidashi_one {
    display: block;
    margin-top: 10px;
  }
  
  .man_one {
    margin-left: auto;
  }
  
  .women {
    margin-top: 40px;
    margin-left: 20px;
  }
  
  .man_two {
    margin-top: 25px;
    margin-left: auto;
    margin-right: 20px;
  }

}

.omakasekudasai {
  
  .container {
    max-width: 1200px;
    width: 100%;
    //skeletonのwidth960pxを初期化
  }
  
  .man_three {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  
  .teian {
    text-align: center;
    @include fontsize(30);
    line-height: 50px;
  }
  
}

.tokucyo {
  
  .container {
    max-width: 1200px;
    width: 100%;
    //skeletonのwidth960pxを初期化
  }
  
  p {
    text-align: center;
    @include fontsize(24);
    line-height: 44px;
  }
  
  .midashi {
    @include fontsize(40);
    padding-top: 50px;
    padding-bottom: 15px;
  }
  
}

.obi {
  margin-top: 50px;
  
  .container {
    max-width: 1200px;
    width: 100%;
    //skeletonのwidth960pxを初期化
  }
}

.syurui {
  
  .columns {
    margin-left: 0;
    //skeleton グリッド間のmargin初期化
  }
  
  .left_area  {
    @media (min-width: 550px) {
      width: 70%;  
      margin-left: auto;
      padding-right: 30px;
      border-right: solid thin black;
    }
  }
  
  .right_area  {
    @media (min-width: 550px) {
      width: 70%;  
      margin-right: auto;
      padding-left: 30px;
    }
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    height: 210px;
  }
  
  p {
    text-align: left;
    @include fontsize(24);
    line-height: 44px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .top {
    border-top: solid thin black;
  }
  
}

.sample {
  
  img {
    display: block;
    margin-top: 40px;
    height: 270px;
    
    @media (max-width:549px) {
      margin-right: auto;
      margin-left: auto;
    }
  }
  
  p {
    text-align: left;
    @include fontsize(18);
    line-height: 28px;
    padding-top: 20px;
  }
  
}

.toiawase_two {
  
  .container {
    max-width: 1200px;
    width: 100%;
    //skeletonのwidth960pxを初期化
  }
  
  .address {
    @include fontsize(48);
    padding: 40px 0;
  }
  
  p {
    text-align: center;
    @include fontsize(24);
    line-height: 44px;
  }
  
}

footer{

  background:$green;
  border-top: solid 10px black;
  margin-top: 40px;
  padding: 40px 0;
  
  p {
    text-align: center;
    @include fontsize(18);
    color: white;
  }
  
}

h1{
  margin: 0;
  padding: 0;
}

h2 {
  line-height: 0;
  margin-top: 50px;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}