@import "compass";
@charset "utf-8";

html {
    font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10){
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

$ja_font : "ヒラギノ丸ゴ Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$blue1 : #42b9d0;
$blue2 : #339fd1;
$gray_blue : #eaf2f4;
$mint : #f5fffa;
$green : #1b9c72;
$gray : #eeeeee;

body {
  background: $mint;
  line-height: 0; //初期化
}

header {
  
  width: 100%;
  background: $green;
  border-bottom: solid 10px  black;
  
  position: fixed;
  z-index: 1;
  //固定表示（フローティング）
  
  .container {
    max-width: 100%;
    width: 100%;
    //skeletonのwidth960pxを初期化
      
    @media (max-width: 549px) {
      padding: 0;
    }
  }
  
  .columns {
    margin-left: 0;
    //skeleton グリッド間のmargin初期化
  }
  
  .six.columns {
    width: 50%;
    //skeleton 6colomunsのwidth初期化
  }

  .header_in{
    padding: 40px 0;

    @include display-flex;
    //グリッドだけどロゴとアイコンは収縮しても常に横並びにしたいためフレックス

    @media (max-width: 549px) {
      padding: 20px 0;
    }

    // .pc_toiawase {
    //   display: block;
    //   margin-left: auto;
    //   padding-top: 5px;
      
    //   @media (max-width: 549px){
    //     display: none;
    //   }
      
    // }
    
    .icon {
      padding-top: 8px;
      font-size: 20px;
      line-height: 0;
      display: block;
      width: 40px; 
      height: 40px;
      text-align: center;
      margin-left: auto;
      margin-right: 20%;
      color: $green;
      background-color: white;
      @include border-radius(50%);
      @include box-sizing(border-box);

      @media (max-width: 549px){
        padding-top: 4px;
        font-size: 10px;
        width: 20px; 
        height: 20px;
      }
    }
    
    .logo {
      padding-left: 20%;
      height: 28px;
      
      @media (max-width: 549px){
        height: 18px;
      }
    }
    
  }
}

#dummy {
  background: $green;
  height :130px;
  
  @media (max-width: 549px){
        height: 70px;
  }
}
//手前に出ているheaderの後ろのスペースを埋めるダミークラス


.cover_area{
  
  text-align: left;
  border-bottom: solid 10px  black;
  
  .container {
    max-width: 100%;
    width: 100%;
    //skeletonのwidth960pxを初期化
  }

  //背景 retina_bg

  background-image: url("../images/cover.png");
  background-size: cover;
  background-position: center center;

  @media screen and (-webkit-min-device-pixel-ratio:2),
                  (min-resolution: 2dppx){
  background-image: url("../images/cover@2x.png");
  }
  
  p {
    color: white;
    display: block;
  }
  
  @media (min-width: 550px) {
    height: 500px;
    
    p{
      @include fontsize(36);
      line-height: 2.1;
      margin-top: 140px;
      margin-left: 4%;
    }
  }
  
  @media (max-width: 549px) {
    height: 250px;
    
    p{
      @include fontsize(18);
      line-height: 2;
      margin-top: 70px;
      margin-left: 4%;
    }
  }
}

.people {
  
  img {
    display: block;
    
    @media (max-width: 549px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .flex_box {
    @include display-flex;
    @include align-items(center); 
    margin-top: 50px;

    @media (max-width: 549px) {
      @include flex-direction(column);
    }
    
  }
  
  .reverse {

    @media (max-width: 549px) {
      @include flex-direction(column-reverse);
    }
    
  }
  
  .fukidashi {
    // margin-top: 50px;
  }
  
  .sotowaku {
    background: white;
    border: solid thin $gray;
    @include border-radius(4px);
    height: 200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    //中のp要素を上下中央寄せ
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);  
  }

  p {
    color: black;
    word-wrap: break-word;
    padding-left: 10%;
    padding-right: 7%;
    
    @media (min-width:550px) {
      @include fontsize(20);
      line-height: 44px;
    }
    
    @media (max-width:549px) {
      @include fontsize(16);
      line-height: 36px;
    }
    
  }
  
  .man_one {
    @media (min-width: 550px) {
      margin-left: auto;
    }
  }
  
  .women {
    @media (min-width: 550px) {
      // margin-top: 40px;
      margin-left: 20px;
    }
  }
  
  .man_two {
    @media (min-width: 550px) {
      // margin-top: 25px;
      margin-left: auto;
      margin-right: 20px;
    }
  }

}

.omakasekudasai {

  .man_three {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  
  .teian {
    text-align: center;
    @include fontsize(30);
    line-height: 50px;
    
    @media (max-width: 549px) {
      text-align: left;
      @include fontsize(28);
      margin-left: auto;
      margin-right: auto;
    }
    
  }
  
}

.tokucyo {
  
  p {
    text-align: center;
    @include fontsize(24);
    line-height: 44px;
    
    @media (max-width: 549px) {
      text-align: left;
      @include fontsize(18);
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .midashi {
    @include fontsize(40);
    padding-top: 50px;
    padding-bottom: 15px;
    
    @media (max-width: 549px) {
      text-align: left;
      @include fontsize(24);
      margin-left: auto;
      margin-right: auto;
    }
  }
  
}

.obi {
  
  .container {
    max-width: 100%;
    width: 100%;
    //skeletonのwidth960pxを初期化
      
    @media (max-width: 549px) {
      padding: 0;
    }
  }

}

.syurui {
  
  margin-top: 40px;
  
  .columns {
    margin-left: 0;
    //skeleton グリッド間のmargin初期化
  }
  
  .flex_box {
    @include display-flex;
  }
  
  .left_area  {
  
    @media (min-width: 870px) {
      border-right: solid thin black;
      // width: 70%;  
      margin-left: auto;
      padding-right: 30px;
    }
  }
  
  .right_area  {
    
    @media (min-width: 870px) {
      // width: 70%;  
      margin-right: auto;
      padding-left: 30px;
    }
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // box-sizing: border-box;
    height: 150px;
  }
  
  .html {
    // padding-bottom: 15%;
    padding-bottom: 50px;
    margin-right: 0;
  }
  
  .css {
    // padding-top: 20%;
    padding-top: 60px;
    margin-left: 0;
  }
  
  p {
    display: block;
    text-align: left;
    @include fontsize(24);
    line-height: 44px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    @media (max-width: 549px) {
      text-align: left;
      @include fontsize(18);
      margin-left: auto;
      margin-right: auto;
    }
    
  }
  
  .intro {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    @include fontsize(30);
    color: $green;
  }
  
  .top {
    border-top: solid thin black;
  }
  
}

.sample {
  
  img {
    display: block;
    height: 270px;
    border: solid thin $gray;
    
    @media (max-width:549px) {
      margin-right: auto;
      margin-left: auto;
    }
  }
  
  p {
    text-align: left;
    @include fontsize(10);
    line-height: 28px;
    padding-top: 20px;
    
    @media (max-width: 549px) {
      text-align: left;
      @include fontsize(18);
      margin-left: auto;
      margin-right: auto;
    }
    
  }
  
  .sample_number {
    text-align: center;
    padding-top: 40px;

    span {
      color: $green;
    }
    
  }
  
}

#toiawase_two {
  
  .address {
    text-align: center;
    @include fontsize(48);
    padding: 40px 0;
    
    @media (max-width: 549px) {
      @include fontsize(26);
    }
  }
  
  p {
    text-align: center;
    @include fontsize(24);
    line-height: 44px;
    
    @media (max-width: 549px) {
      text-align: left;
      @include fontsize(18);
      margin-left: auto;
      margin-right: auto;
    }
    
  }
  
}

footer{

  background:$green;
  border-top: solid 10px black;
  margin-top: 40px;
  padding: 40px 0;
  
  p {
    text-align: center;
    @include fontsize(18);
    color: white;
    
    @media (max-width: 549px) {
      @include fontsize(12);
      margin-top: 0;
    }
    
  }
  
}

.danraku_one {
  height: 120px;
  background: $green;
  margin-top: 50px;
  border: solid thin black;
  
  p{
    color: white;
    @include fontsize(48);
    text-align: center;
    padding-top: 60px;
    line-height: 0;
    
    @media (max-width: 549px) {
      @include fontsize(26);
    }
  }
}

.danraku_two {
  height: 120px;
  background: white;
  margin-top: 50px;
  border: solid thin $green;
  
  p{
    color: $green;
    @include fontsize(48);
    text-align: center;
    padding-top: 60px;
    line-height: 0;
    
    @media (max-width: 549px) {
      @include fontsize(26);
    }
  }
}

h1{
  margin: 0;
  padding: 0;
}

h2 {
  line-height: 0;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

@media (max-width: 869px) {
	.br-pc { 
	  display:none;
	}
}
//スマホでは改行しない

@media (min-width: 870px) {
	.br-sp { 
	  display:none;
	}
}
//pcでは改行しない